*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#07111d;
color:white;
padding:20px;
}

/* Top */

.topbar{

margin-bottom:25px;

}

.logo h1{

font-size:38px;

color:#39d5ff;

text-shadow:
0 0 12px #00c8ff,
0 0 35px #00c8ff;

}

.logo p{

opacity:.7;

}

/* Search */

.search-area{

margin-bottom:20px;

}

#searchInput{

width:100%;

padding:16px;

border:none;

outline:none;

border-radius:18px;

background:#102235;

color:white;

font-size:16px;

}

/* Filters */

.filters{

display:flex;

overflow:auto;

gap:10px;

margin-bottom:25px;

padding-bottom:5px;

}

.filters button{

background:#102235;

color:white;

border:none;

padding:12px 18px;

border-radius:999px;

cursor:pointer;

white-space:nowrap;

transition:.3s;

}

.filters button.active{

background:#00c8ff;

color:#07111d;

font-weight:bold;

}

.filters button:hover{

background:#1f4060;

}

/* Cards */

.weapon-list{

display:grid;

gap:20px;

}

.weapon-card{

background:#0e2031;

border-radius:22px;

overflow:hidden;

border:1px solid rgba(0,200,255,.15);

transition:.3s;

}

.weapon-card:hover{

transform:translateY(-5px);

box-shadow:
0 0 25px rgba(0,200,255,.35);

}

.weapon-card img{

width:100%;

display:block;

}

.info{

padding:18px;

}

.category{

font-size:12px;

color:#6bdfff;

letter-spacing:1px;

}

.info h2{

margin:8px 0;

font-size:24px;

}

.info p{

opacity:.75;

}
